* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: rgb(246, 248, 249);
    font-size: 15px;
}

.logo, .testo-logo {
    display: inline-block;
}

.logo {
    margin-top: 25px;
    margin-left: 20px;
    vertical-align: middle;
}

.testo-logo {
    margin-top: 25px;
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

header {
    width: 100%;
    height: 100px;
    background: white;
}

.section-add {
    width: 700px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10;
    background: white;
}

.button-1 {
    margin-left: 35px;
    color: white;
    background: rgb(98, 170, 241);
}

.button-2 {
    margin-left: 5px;
    color: lightgrey;
    background: white;
    border: 1px solid lightgrey;
}

.button-1, .button-2 {
    display: inline-block;
    width: 100px;
    padding: 7px;
    text-align: center;
    border-radius: 5px;
}

.section {
    width: 700px;
    height: 580px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 60px;
    background: white;
}

.list-1, .list-2, .list-3 {
    margin-top: 20;
    margin-left: 40px;
}

.list-i {
    margin-left: 5px;
}

.buttons {
    margin-left: 5px;
    padding: 5px;
    font-size: 12px;
    color: white;
    border-radius: 20px;
}

#yes {
    padding: 4px;
    font-size: 10px;
    border: 1px solid rgb(0, 225, 0);
    border-radius: 100%;
}

#not {
    padding: 4px;
    font-size: 10px;
    color: red;
    border: 1px solid red;
    border-radius: 50%;
}

#editorial {
    background: rgb(96, 168, 234);
}

#q1-goals {
    background: rgb(153, 115, 228);
}

#recruiting {
    background: rgb(119, 189, 168);
}

#mobile {
    background: rgb(232, 163, 55);
}

#website {
    background: rgb(204, 107, 162);
}

#sales {
    background: rgb(178, 201, 35);
}